body{
	min-width: 1190px;
	background-color: #f6f6f6;
}
.clearfloat{
	zoom:1;
}
.clearfloat:after{
	display: block;
	visibility: hidden;
	content: "";
	height: 0;
	clear: both;
}
.common-container{
	width: 1190px;
	margin: 0 auto;
	position: relative;
}
.colorred,.colorred *{
	color: #f10215;
}
.colorblack,.colorblack *{
	color: #333;
}
.colorwhite,.colorwhite *{
	color: #eee;
}
.white-triangle{
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	border-top: 20px solid #f6f6f6;
	border-right: 20px solid transparent;
}
.red-triangle{
	display: inline-block;
	position: absolute;
	left: 4px;
	top: 4px;
	height: 0;
	width: 0;
	border-top: 16px solid #c00414;
	border-right: 16px solid transparent;
}
.green-triangle{
	display: inline-block;
	position: absolute;
	left: 4px;
	top: 4px;
	height: 0;
	width: 0;
	border-top: 16px solid #2e828b;
	border-right: 16px solid transparent;
}
.purple-triangle{
	display: inline-block;
	position: absolute;
	left: 4px;
	top: 4px;
	height: 0;
	width: 0;
	border-top: 16px solid #6f184a;
	border-right: 16px solid transparent;
}
.yellow-triangle{
	display: inline-block;
	position: absolute;
	left: 4px;
	top: 4px;
	height: 0;
	width: 0;
	border-top: 16px solid #e45d04;
	border-right: 16px solid transparent;
}
.bigfont{
	font-size: 1.7em;
}
.textline{
	text-decoration: line-through;
}
.imgshadow{
	display: block;
	height: 8px;
	width: 150px;
	border-radius: 100%;
	box-shadow: 0 -2px 5px #ccc;
	background-color: #ddd;
	margin: 0 auto 10px;
}
.hotsale{
	position: absolute;
	display: block;
	width: 30px;
	height: 40px;
	background: -webkit-linear-gradient(top, #f6c70c, #fb9106);
	background: -o-linear-gradient(top, #f6c70c, #fb9106);
	background: linear-gradient(to bottom, #f6c70c, #fb9106);
	line-height: 30px;
	text-align: center;
	color: #fff;
}
.hotsale:after{
	position: absolute;
	width: 0;
	height: 0;
	content: "";
	left: 0;
	bottom: 0;
	border-bottom: 10px solid #fff;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}