body{
	min-width: 1190px;
	background-color: #f6f6f6;
}
.clearfloat{
	zoom:1;
}
.clearfloat:after{
	display: block;
	visibility: hidden;
	content: "";
	height: 0;
	clear: both;
}
.common-container{
	width: 1190px;
	margin: 0 auto;
	position: relative;
}
.colorred,.colorred *{
	color: #f10215;
}
.colorblack,.colorblack *{
	color: #333;
}
.colorwhite,.colorwhite *{
	color: #eee;
}
/*triangle style*/
.white-triangle{
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	border-top: 20px solid #f6f6f6;
	border-right: 20px solid transparent;
}
.red-triangle{
	display: inline-block;
	position: absolute;
	left: 4px;
	top: 4px;
	height: 0;
	width: 0;
	border-top: 16px solid #c00414;
	border-right: 16px solid transparent;
}
.green-triangle{
	display: inline-block;
	position: absolute;
	left: 4px;
	top: 4px;
	height: 0;
	width: 0;
	border-top: 16px solid #2e828b;
	border-right: 16px solid transparent;
}
.purple-triangle{
	display: inline-block;
	position: absolute;
	left: 4px;
	top: 4px;
	height: 0;
	width: 0;
	border-top: 16px solid #6f184a;
	border-right: 16px solid transparent;
}
.yellow-triangle{
	display: inline-block;
	position: absolute;
	left: 4px;
	top: 4px;
	height: 0;
	width: 0;
	border-top: 16px solid #e45d04;
	border-right: 16px solid transparent;
}
.bigfont{
	font-size: 1.7em;
}
.textline{
	text-decoration: line-through;
}
/*shadow below imgs*/
.imgshadow{
	display: block;
	height: 8px;
	width: 150px;
	border-radius: 100%;
	box-shadow: 0 -2px 5px #ccc;
	background-color: #ddd;
	margin: 0 auto 10px;
}
/*common flag style*/
.rank{
	position: absolute;
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	z-index: 99;
}
.rank .left{
	position: absolute;
	display: block;
	left: 0;
	bottom: -10px;
	height: 0;
	width: 0;
	border-right: 15px solid transparent;
}
.rank .right{
	position: absolute;
	display: block;
	right: 0;
	bottom: -10px;
	height: 0;
	width: 0;
	border-left: 15px solid transparent;
}
.hotsale{
	font-size: 12px !important;
	background-color: #fb9106;
	background: -webkit-linear-gradient(top, #f6c70c, #fb9106);
	background: -o-linear-gradient(top, #f6c70c, #fb9106);
	background: linear-gradient(to bottom, #f6c70c, #fb9106);
}
.hotsale .left,.hotsale .right{
	border-top: 10px solid #fb9106;
}
.rank1{
	background-color: #d00414;
	background: -webkit-linear-gradient(#e01222, #d00414);
	background: -o-linear-gradient(#e01222, #d00414);
	background: linear-gradient(#e01222, #d00414);
}
.rank1 .left,.rank1 .right{
	border-top: 10px solid #d00414;
}
.rank2{
	background-color: #f47f36;
	background: -webkit-linear-gradient(#f59104, #f47f36);
	background: -o-linear-gradient(#f59104, #f47f36);
	background: linear-gradient(#f59104, #f47f36);
}
.rank2 .left,.rank2 .right{
	border-top: 10px solid #f47f36;
}
.rank3{
	background-color: #f8b913;
	background: -webkit-linear-gradient(#f9cb15, #f8b913);
	background: -o-linear-gradient(#f9cb15, #f8b913);
	background: linear-gradient(#f9cb15, #f8b913);
}
.rank3 .left,.rank3 .right{
	border-top: 10px solid #f8b913;
}
.rank456{
	background: #888;
}
.rank456 .left,.rank456 .right{
	border-top: 10px solid #888;
}

/*// common ads bar*/
.adsbar{
	background-color: #e0e0e0;
	margin-bottom: 30px;
	height: 100px;
}
.adsbar img{
	float: left;
}

/*common main title*/
.common-title{
	height: 55px;
	line-height: 55px;
	text-align: center;
	margin-bottom: 15px;
}
.common-title i{
	display: inline-block;
	height: 0;
	width: 500px;
	border-top: 4px dotted #ccc;
	vertical-align: middle;
}
.common-title h2{
	display: inline-block;
	width: 170px;
	text-align: center;
	color: #666;
}

/*img move style start*/
.supporttranstion .moveup:hover img{
	-webkit-transition: transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
.supporttranstion .moveleft:hover img{
	-webkit-transition: transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	-o-transform: translateX(-10px);
	transform: translateX(-10px);
}
.supporttranstion .moveright:hover img{
	-webkit-transition: transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateX(12px);
	-ms-transform: translateX(12px);
	-o-transform: translateX(12px);
	transform: translateX(12px);
}
/*img move style end*/
.lazyload-placeholder{
	display: block;
	width: 100px;
	margin: 100px auto;
}
/*位于右上角的关闭按钮*/
span.clicktoclose{
	display: block;
	width: 20px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	position: absolute;
	right: 20px;
	top: 10px;
}
span.clicktoclose:hover{
	background-color: rgba(255,255,255,0.4);
}
/*mainpage左侧临时广告，由于声明不多，所有没有另外新建一个临时css，暂时放在这里*/
.mainpage-left{
	width: 200px;
	height: 480px;
	position: absolute;
	left: -200px;
}
.mainpage-left .img1{
	float: right;
}
.mainpage-left .img2{
	position: absolute;
	top: 0;
	left: 200px;
	z-index: 999;
	display: none;
}
