/*header style start*/
.header{
	height: 170px;
	position: relative;
}
.header-logo{
	position: absolute;
	float: left;
	width: 190px;
	height: 170px;
	background-color: #fff;
	box-shadow: 0 -10px 10px #ccc;
}
.header-shortcut{
	height: 30px;
	background-color: #e3e4e5;
	font-size: 12px;
}
.header-shortcut-loginlist{
	line-height: 30px;
	float: right;
}
.header-shortcut-loginlist li{
	display: inline-block;
	float: left;
	padding: 0 5px;
}
.header-searchbar{
	text-align: center;
	padding-top: 25px;
	position: relative;
	font-size: 12px;
}
.header-searchbar>div{
	display: inline-block;
}
.header-searchbar-search .search{
	width: 500px;
	height: 25px;/*some problems will occur without height in IE！*/
	line-height: 25px;
	padding: 5px;
	border: none;
	float: left;
	vertical-align: middle;
}
.header-searchbar-search .searchbtn{
	width: 50px;
	height: 35px;
	border: none;
	float: left;
	cursor: pointer;
	background: #f10215 url(../img/header-search-btnimg.jpg) no-repeat center;
}
.header-searchbar-search{
	border: 1px solid #f10215;
	background-color: #fff;
}
.header-searchbar-cart{
	position: absolute;
	right: 0;
	width: 190px;
	line-height: 35px;
	border: 1px solid #ccc;
	background-color: #fff;
}
.header-hotword{
	text-align: center;
	font-size: 12px;
}
.header-hotword-list{
	display: inline-block;
	margin-top: 3px;
	width: 562px;
}
.header-hotword-list li{
	float: left;
	padding-right: 10px;
}
.header-nav{
	margin-top: 12px;
	text-align: center;
}
.header-nav-list{
	display: inline-block;
}
.header-nav-list li{
	float: left;
	padding: 0 12px;
}
/*header style end*/

/*main page style start*/
/*class in left part*/
.mainpage-class{
	float: left;
	width: 190px;
	height: 480px;
	color: #eee;
	background-color: #6c6669;
}
.mainpage-class *{
	font-size: 14px;
	color: #eee;
}
.mainpage-class-list{
	margin-top: 15px;
}
.mainpage-class-list li{
	width: 180px;
	padding-left: 10px;
	line-height: 30px;
	font-size: 14px;
}
.mainpage-class-list li:hover{
	background-color: #999395;
}
/*slideshow in middle*/
.mainpage-slideshow{
	float: left;
	width: 790px;
	height: 480px;
	margin-left: 10px;
}
.mainpage-slideshow-top{
	width: 790px;
	height: 340px;
	overflow: hidden;
	float: left;
}
.mainpage-slideshow-bottom{
	width: 790px;
	height: 130px;
	float: left;
	margin-top: 10px;
	background-color: #fff;
}
.mainpage-slideshow-bottom a:nth-child(2){
	float: right;
}
/*quick entry in right part*/
.mainpage-quickentry{
	float: right;
	width: 190px;
	height: 480px;
	background-color: #fff;
}
.mainpage-quickentry-welcome{
	width: 190px;
	height: 115px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}
.mainpage-quickentry-welcome-top img{
	width: 45px;
	height: 45px;
	border: 1px solid transparent;/*make sure border-radius available in IE*/
	border-radius: 100%;
	padding: 14px;
	float: left;
}
.mainpage-quickentry-welcome-top span{
	padding-top: 15px;
	padding-left: 5px;
	line-height: 22px;
	float: left;
}
.mainpage-quickentry-welcome-bottom a{
	margin-left: 13px;
	display: inline-block;
	float: left;
	width: 70px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 2px solid #f10215;
}
.mainpage-quickentry-welcome-bottom a:hover{
	background-color: #f10215;
	color: #fff;
}
.mainpage-quickentry-news{
	width: 160px;
	padding: 0 15px;
	height: 117px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}
.mainpage-quickentry-news-title{
	padding: 8px 0px 2px;
	margin-bottom: 2px;
	line-height: 16px;
	border-bottom: 1px solid #ccc;
}
.mainpage-quickentry-news-title ul{
	float: left;
}
.mainpage-quickentry-news-title ul li{
	float: left;
	padding: 0 15px 0px 15px;
}
.mainpage-quickentry-news-title ul li:nth-child(1){
	border-right: 1px solid #ccc;
	padding-left: 0;
}
.mainpage-quickentry-news-title .active{
	border-bottom: 3px solid #f10215;
}
.mainpage-quickentry-news-title a{
	float: right;
}
.mainpage-quickentry-news-content ul{
	padding: 12px 0;
	line-height: 20px;
}
.mainpage-quickentry-entry{
	width: 190px;
	height: 210px;
	font-size: 12px;
	overflow: hidden;
}
.mainpage-quickentry-mobile{
	width: 190px;
	height: 36px;
	color: #eee;
	font-size: 12px;
	line-height: 36px;
	text-align: center;
	background-color: #60575a;
}
.mainpage-quickentry-entry-list{
	width: 220px;
}
.mainpage-quickentry-entry-list li{
	float: left;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.mainpage-quickentry-entry-list li:hover{
	color: #f10215;
}
.mainpage-quickentry-entry-list li a{
	display: inline-block;
	width: 47px;
	height: 54px;
	padding-top: 15px;
}
.mainpage-quickentry-entry-list li span{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-bottom: 2px;
}
/*mainpage quick entry icon start*/
.mainpage-quickentry-entry-phone{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat 0 -88px;
}
.mainpage-quickentry-entry-plane{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat 0 -45px;
}
.mainpage-quickentry-entry-movie{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat -45px -45px;
}
.mainpage-quickentry-entry-game{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat -88px 0px;
}
.mainpage-quickentry-entry-corp{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat -88px -45px;
}
.mainpage-quickentry-entry-gas{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat 0 0;
}
.mainpage-quickentry-entry-hotel{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat -45px -88px;
}
.mainpage-quickentry-entry-train{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat -89px -88px;
}
.mainpage-quickentry-entry-crowd{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat -132px 0;
}
.mainpage-quickentry-entry-money{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat -132px -45px;
}
.mainpage-quickentry-entry-gift{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat -133px -88px;
}
.mainpage-quickentry-entry-blank{
	background: #fff url(../img/mainpage/mainpage-quickentry-entry-sprite.png) no-repeat -44px 0;
}
/*mainpage quick entry icon end*/
/*main page style end*/

/*second kill style start*/
.seckill{
	margin-top: 10px;
	margin-bottom: 30px;
}
.seckill-title{
	height: 55px;
	line-height: 52px;
	background: -webkit-linear-gradient(left, #e01222, #d00414);
	background: -o-linear-gradient(left, #e01222, #d00414);
	background: linear-gradient(to right, #e01222, #d00414);
	position: relative;
	vertical-align: middle;
}
.seckill-title-left{
	display: inline-block;
	margin-left: 30px;
	line-height: 35px;
	height: 35px;
	vertical-align: middle;
}
.seckill-title-left span{
	font-size: 13px;
}
.seckill-title-left span a:hover{
	color: #eee;
}
.seckill-title-left *{
	float: left;
	margin-right: 20px;
}
.seckill-title-left-icon{
	display: inline-block;
	height: 35px;
	width: 35px;
	background: url(../img/seckill/seckill-title-icon.png) no-repeat 0 -40px;
}
.seckill-title-left-arrow{
	display: inline-block;
	float: right;
	margin-top: 9px;
	width: 20px;
	height: 20px;
	background: url(../img/seckill/seckill-title-icon.png) no-repeat -152px -39px;
}
.seckill-title-right{
	display: inline-block;
	position: relative;
	float: right;
	height: 55px;
	line-height: 52px;
	font-size: 13px;
	margin-right: 20px;
	vertical-align: middle;
}
.seckill-title-right-time{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #440106;
	border: 1px solid transparent;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	line-height: 32px;
	font-size: 2em;
}
.seckill-title-right-break{
	display: inline-block;
	width: 5px;
	height: 35px;
	line-height: 27px;
	vertical-align: middle;
	font-size: 2em;
}
.seckill-content{
	width: 1190px;
	overflow: hidden;
}
.seckill-content-list{
	width: 1220px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	font-size: 12px;
}
.seckill-content-list li{
	float: left;
	position: relative;
	width: 170px;
	padding: 0 10px;
	margin-right: 10px;
	height: 225px;
	border-right: 1px solid #e7e7e7;
	text-align: left;
}
.seckill-content-list img{
	display: block;
	margin: 0 auto 10px;
}
.seckill-content-list li a p{
	line-height: 1.3em;
	height: 2.6em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.seckill-content-list li:nth-last-child(1){
	width: 190px;
	margin-left: -10px;
	background-color: #e7e7e7;
	padding: 0;
}
/*second kill style end*/

/*find brand rank style start*/
.findbrandrank-box{
	width: 1190px;
	overflow: hidden;
}
.findbrandrank-list{
	width: 1220px;
}
.findbrandrank-list >li{
	position: relative;
	float: left;
	width: 390px;
	margin-right: 10px;
	background-color: #fff;
}
.findbrandrank-list-commontitle{
	height: 55px;
	line-height: 55px;
	padding-left: 30px;
	padding-right: 30px;
}
.findbrandrank-list-find-title{
	background: -webkit-linear-gradient(left, #4998a1, #2e828b);
	background: -o-linear-gradient(left, #4998a1, #2e828b);
	background: linear-gradient(to right, #4998a1, #2e828b);
}
.findbrandrank-list-brand-title{
	background: -webkit-linear-gradient(left, #7d2e5c, #6f184a);
	background: -o-linear-gradient(left, #7d2e5c, #6f184a);
	background: linear-gradient(to right, #7d2e5c, #6f184a);
}
.findbrandrank-list-rank-title{
	background: -webkit-linear-gradient(left, #e77005, #e45d04);
	background: -o-linear-gradient(left, #e77005, #e45d04);
	background: linear-gradient(to right, #e77005, #e45d04);
}
.findbrandrank-list-commontitle h2{
	float: left;
}
.findbrandrank-list-commontitle span{
	float: right;
	font-size: 13px;
}
.findbrandrank-list-commonarrow{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(../img/seckill/seckill-title-icon.png) no-repeat -152px -39px;
}
.findbrandrank-list-commoncontent{
	width: 370px;
	height: 362px;
	margin: 10px auto;
	overflow: hidden;
}
.findbrandrank-list-find-content-list{
	width: 380px;
}
.findbrandrank-list-find-content-list li{
	float: left;
	width: 185px;
	height: 120px;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.findbrandrank-list-find-content-list li a{
	position: relative;
	display: inline-block;
	width: 185px;
	height: 120px;
}
.findbrandrank-list-find-content-list img{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.findbrandrank-list-find-content-list span{
	display: inline-block;
	width: 80px;
	height: 40px;
	color: #2e828b;
	font-size: 14px;
	line-height: 20px;
	margin: 15px;
}
.findbrandrank-list-brand-content-list{
	width: 380px;
}
.findbrandrank-list-brand-content-list li{
	float: left;
	height: 187px;
	width: 145px;
	padding: 20px;
	margin-bottom: 5px;
	border-right: 1px solid #e7e7e7;
}
.findbrandrank-list-brand-content-list li img{
	display: block;
	margin: 0 auto;
}
.findbrandrank-list-brand-content-list li i{
	display: block;
	width: 20px;
	height: 3px;
	margin: 20px 0 5px;
	background-color: #6f184a;
}
.findbrandrank-list-brand-content-list li h4{
	color: #6f184a;
}
.findbrandrank-list-brand-content-list li p{
	font-size: 12px;
	line-height: 20px;
}
.findbrandrank-list-rank-nav{
	font-size: 14px;
	width: 400px;
	line-height: 14px;
	height: 22px;
	border-bottom: 1px solid #e7e7e7;
}
.findbrandrank-list-rank-nav li{
	float: left;
	cursor: pointer;
	padding: 0 7px 7px 7px;
}
.findbrandrank-list-rank-nav li.active{
	border-bottom: 2px solid red;
}
.findbrandrank-list-rank-content{
	width: 380px;
	height: 340px;
	margin-top: 5px;
}
.findbrandrank-list-rank-content li{
	float: left;
	width: 123px;
	height: 167px;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
	overflow: hidden;
}
.findbrandrank-list-rank-content li a{
	font-size: 12px;
	display: inline-block;
	padding: 10px;
}
.findbrandrank-list-rank-content li p{
	margin-top: 10px;
	line-height: 15px;
	height: 30px;
	overflow: hidden;
}
/*find brand rank style end*/

/*ticket center style start*/
.ticketcenter{
	margin: 30px 0;
}
.ticketcenter-box{
	overflow: hidden;
}
.ticketcenter-lgbox{
	width: 1250px;
}
.ticketcenter-left{
	float: left;
	height: 215px;
	width: 191px;
	background-color: #ea3524;
}
.ticketcenter-left a{
	display: block;
	padding: 20px;
	width: 150px;
	height: 175px;
}
.ticketcenter-left a *{
	color: #eee;
}
.ticketcenter-left a:hover *{
	color: #eee;
}
.ticketcenter-left a>i{
	display: block;
	height: 3px;
	width: 55px;
	margin: 20px 0;
	background-color: #e7e7e7;
}
.ticketcenter-left a p{
	font-size: 12px;
	margin-bottom: 20px;
}
.ticketcenter-left a span{
	display: block;
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	width: 125px;
	font-size: 12px;
	border: 2px solid #e7e7e7;
	position: relative;
}
.ticketcenter-left a span i{
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	right: 20px;
	top: 3px;
	background: url(../img/seckill-title-icon.png) no-repeat -152px -39px;
}
.ticketcenter-right{
	float: left;
	height: 195px;
	padding: 10px 0 10px 0;
	width: 1050px;
	background-color: #fff;
}
.ticketcenter-right li{
	float: left;
	width: 199px;
	height: 198px;
	border-right: 1px solid #e7e7e7;
	font-size: 12px;
	position: relative;
}
.ticketcenter-right li a{
	display: block;
	width: 199px;
	height: 198px;
}
.ticketcenter-right li a img{
	position: absolute;
	right: 15px;
	top: 25px;
}
.ticketcenter-right li a div{
	position: absolute;
	width: 100px;
	height: 180px;
	left: 15px;
	bottom: 0;
	background-color: #fff;
	border-top: 3px solid #ea3524;
}
.ticketcenter-right li a div span{
	color: #ea3524;
}
.ticketcenter-right li a div span span{
	font-size: 35px;
	font-weight: bold;
}
.ticketcenter-right li a div p:nth-child(2){
	color: #ea3524;
	margin: 5px;
	line-height: 15px;
	height: 30px;
	overflow: hidden;
}
.ticketcenter-right li a div p:nth-child(3){
	line-height: 15px;
	height: 30px;
	padding: 15px 10px;
	border-top: 4px dotted #fff;
	background-color: #eee;
}
.ticketcenter-right li a div p:nth-child(4){
	color: #e7e7e7;
	width: 100%;
	height: 26px;
	background-color: #ea3524;
	line-height: 26px;
	text-align: center;
}
/*ticket center style end*/

/*enjoy quality style start*/
.enjoyquality{
	margin-bottom: 20px;
}
.enjoyquality-box{
	overflow: hidden;
}
.enjoyquality-list{
	width: 1250px;
	margin-top: 15px;
	height: 350px;
}
.enjoyquality-list li{
	float: left;
	width: 390px;
	height: 170px;
	margin: 0 10px 10px 0;
	background-color: #fff;
	overflow: hidden;
	position: relative;
}
.enjoyquality-list li div{
	position: absolute;
	width: 140px;
	height: 170px;
	left: 0;
	top: 0;
	text-align: center;
}
.enjoyquality-list li div *{
	color: #eee;
}
.enjoyquality-list li div h3{
	display: inline-block;
	width: 100px;
	margin: 40px 0 10px 0;
	padding: 5px 0;
	border-top: 2px solid #e7e7e7;
	border-bottom: 2px solid #e7e7e7;
}
.enjoyquality-list li div p{
	display: inline-block;
	width: 100px;
	line-height: 16px;
	height: 32px;
	overflow: hidden;
	font-size: 14px;
	text-align: left;
}
.enjoyquality-list-item1 div{
	background: rgba(213, 135, 23, 0.8);
}
.enjoyquality-list-item2 div{
	background: rgba(73, 140, 148, 0.8);
}
.enjoyquality-list-item3 div{
	background: rgba(92, 85, 102, 0.8);
}
.enjoyquality-list-item4 div{
	background: rgba(176, 73, 66, 0.8);
}
.enjoyquality-list-item5 div{
	background: rgba(110, 53, 110, 0.8);
}
.enjoyquality-list-item6 div{
	background: rgba(134, 99, 80, 0.8);
}
/*enjoy quality style end*/

/*love life style start*/
.lovelife-box{
	overflow: hidden;
}
.lovelife-list{
	width: 1250px;
}
	/*//lovelife common tilte style start//*/
.lovelife-list-title{
	width: 100%;
	height: 58px;
	line-height: 56px;
}
.lovelife-list-title *{
	color: #fff;
}
.lovelife-list-title h3{
	float: left;
	margin-left: 20px;
}
.lovelife-list-title ul{
	display: inline-block;
	float: right;
	margin-right: 20px;
}
.lovelife-list-title ul li{
	float: left;
	margin-left: 10px;
}
.lovelife-list-title ul li a{
	display: inline-block;
	padding: 0 10px;
	height: 24px;
	vertical-align: middle;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	border: 1px solid rgba(255,255,255,0.3);
	background: rgba(255,255,255,0.2);
}
.lovelife-list-title ul li a:hover{
	border: 1px solid #fff;
	color: #fff;
}
	/*//lovelife common title end//*/
	/*lovelife common content style start*/
.lovelife-list-content{
	width: 570px;
	float: left;
	margin: 10px;
	overflow: hidden;
}
.lovelife-list-content:nth-last-child(1){
	/*the second part float right in col1*/
	float: right;
}
.lovelife-list-content-divide{
	float: left;
	width: 0;
	height: 400px;
	margin-top: 10px;
	margin-left: 4px;
	border-right: 1px solid #e7e7e7;
}
.lovelife-list-content-box{
	width: 600px;
}
.lovelife-list-content-leimg{
	float: left;
	width: 183px;
	height: 260px;
	margin-right: 10px;
	overflow: hidden;
}
.lovelife-list-content-riimg{
	width: 400px;
	height: 260px;
	overflow: hidden;
	float: left;
}
.lovelife-list-content-riimg li{
	float: left;
	width: 188px;
	height: 130px;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	position: relative;
}
.lovelife-list-content-riimg a{
	display: block;
	width: 100%;
	height: 100%;
}
.lovelife-list-content-riimg a img{
	position: absolute;
	right: 5px;
	bottom: 10px;
}
.lovelife-list-content-riimg a p:nth-child(1){
	position: absolute;
	font-size: 14px;
	left: 25px;
	top: 25px;
	width: 140px;
	z-index: 1;
}
.lovelife-list-content-riimg a p:nth-child(2){
	position: absolute;
	font-size: 12px;
	width: 50px;
	line-height: 15px;
	height: 45px;
	overflow: hidden;
	left: 25px;
	top: 55px;
}
.lovelife-list-content-mdimg{
	width: 580px;
}
.lovelife-list-content-mdimg li{
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}
.lovelife-list-content-mdimg li a{
	display: inline-block;
	width: 183px;
	height: 130px;
	overflow: hidden;
}
.lovelife-smbox{
	width: 200px !important;
}
.lovelife-list-content-smbox{
	width: 410px !important;
}
.lovelife-list-smcontent{
	width: 370px !important;
}
	/*lovelife common content style end*/
	/*lovelife special title backgroundcolor start*/
.lovelife-list-item1 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #974676, #9e4075);
	background: -o-linear-gradient(left, #974676, #9e4075);
	background: linear-gradient(to right, #974676, #9e4075);
}
.lovelife-list-item1 .lovelife-list-content ul li a p:nth-child(1){
	color: #9e4075;
}
.lovelife-list-item2 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #cd375e, #c1314d);
	background: -o-linear-gradient(left, #cd375e, #c1314d);
	background: linear-gradient(to right, #cd375e, #c1314d);
}
.lovelife-list-item2 .lovelife-list-content ul li a p:nth-child(1){
	color: #c1314d;
}
.lovelife-list-item3 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #78538e, #674083);
	background: -o-linear-gradient(left, #78538e, #674083);
	background: linear-gradient(to right, #78538e, #674083);
}
.lovelife-list-item3 .lovelife-list-content ul li a p:nth-child(1){
	color: #674083;
}
.lovelife-list-item4 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #5e6c90, #4c5e8c);
	background: -o-linear-gradient(left, #5e6c90, #4c5e8c);
	background: linear-gradient(to right, #5e6c90, #4c5e8c);
}
.lovelife-list-item4 .lovelife-list-content ul li a p:nth-child(1){
	color: #4c5e8c;
}
.lovelife-list-item5 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #488bad, #337e8d);
	background: -o-linear-gradient(left, #488bad, #337e8d);
	background: linear-gradient(to right, #488bad, #337e8d);
}
.lovelife-list-item5 .lovelife-list-content ul li a p:nth-child(1){
	color: #337e8d;
}
.lovelife-list-item6 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #3aaba9, #299b9a);
	background: -o-linear-gradient(left, #3aaba9, #299b9a);
	background: linear-gradient(to right, #3aaba9, #299b9a);
}
.lovelife-list-item6 .lovelife-list-content ul li a p:nth-child(1){
	color: #299b9a;
}
.lovelife-list-item7 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #568e7d, #447e6c);
	background: -o-linear-gradient(left, #568e7d, #447e6c);
	background: linear-gradient(to right, #568e7d, #447e6c);
}
.lovelife-list-item7 .lovelife-list-content ul li a p:nth-child(1){
	color: #447e6c;
}
.lovelife-list-item8 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #eeb924, #e49433);
	background: -o-linear-gradient(left, #eeb924, #e49433);
	background: linear-gradient(to right, #eeb924, #e49433);
}
.lovelife-list-item8 .lovelife-list-content ul li a p:nth-child(1){
	color: #e49433;
}
.lovelife-list-item9 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #e16c46, #e85629);
	background: -o-linear-gradient(left, #e16c46, #e85629);
	background: linear-gradient(to right, #e16c46, #e85629);
}
.lovelife-list-item9 .lovelife-list-content ul li a p:nth-child(1){
	color: #e85629;
}
.lovelife-list-item10 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #a56741, #925937);
	background: -o-linear-gradient(left, #a56741, #925937);
	background: linear-gradient(to right, #a56741, #925937);
}
.lovelife-list-item10 .lovelife-list-content ul li a p:nth-child(1){
	color: #925937;
}
.lovelife-list-item11 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #756059, #684c44);
	background: -o-linear-gradient(left, #756059, #684c44);
	background: linear-gradient(to right, #756059, #684c44);
}
.lovelife-list-item11 .lovelife-list-content ul li a p:nth-child(1){
	color: #684c44;
}
.lovelife-list-item12 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #865454, #7e3b3c);
	background: -o-linear-gradient(left, #865454, #7e3b3c);
	background: linear-gradient(to right, #865454, #7e3b3c);
}
.lovelife-list-item12 .lovelife-list-content ul li a p:nth-child(1){
	color: #7e3b3c;
}
.lovelife-list-item13 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #6467a0, #544b8f);
	background: -o-linear-gradient(left, #6467a0, #544b8f);
	background: linear-gradient(to right, #6467a0, #544b8f);
}
.lovelife-list-item13 .lovelife-list-content ul li a p:nth-child(1){
	color: #544b8f;
}
.lovelife-list-item14 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #5981a3, #41698b);
	background: -o-linear-gradient(left, #5981a3, #41698b);
	background: linear-gradient(to right, #5981a3, #41698b);
}
.lovelife-list-item14 .lovelife-list-content ul li a p:nth-child(1){
	color: #41698b;
}
.lovelife-list-item15 .lovelife-list-title{
	background: -webkit-linear-gradient(left, #5a7259, #425f41);
	background: -o-linear-gradient(left, #5a7259, #425f41);
	background: linear-gradient(to right, #5a7259, #425f41);
}
.lovelife-list-item15 .lovelife-list-content ul li a p:nth-child(1){
	color: #425f41;
}
	/*lovelife special title backgroundcolor end*/
.lovelife-list-col2{
	float: left;
	width: 590px;
	height: 523px;
	margin-right: 10px;
	margin-bottom: 30px;
	background-color: #fff;
	overflow: hidden;
}
.lovelife-list-col1{
	float: left;
	width: 1190px;
	height: 523px;
	margin-bottom: 30px;
	background-color: #fff;
	overflow: hidden;
}
.lovelife-list-col3{
	float: left;
	width: 390px;
	height: 523px;
	margin-bottom: 30px;
	margin-right: 10px;
	overflow: hidden;
	background-color: #fff;
}
/*love life style end*/

/*buy unique style start*/
.buyunique{
	text-align: center;
	margin-bottom: 30px;
}
.buyunique *{
	color: #eee;
}
.buyunique-list{
	display: inline-block;
}
.buyunique-list li{
	float: left;
	margin: 0 5px;
	position: relative;
}
.buyunique-list li a{
	display: block;
	width: 160px;
	height: 140px;
}
.buyunique-list li a:hover *{
	color: #eee;
}
.buyunique-list li div{
	position: absolute;
	width: 100%;
	height: 44px;
	padding: 8px 0;
	bottom: 0;
}
.buyunique-list li div p{
	font-size: 12px;
}
	/*buy unique info background color start*/
.buyunique-list-item1 div{
	background: rgba(136,96,73,0.8);
}
.buyunique-list-item2 div{
	background: rgba(116,86,123,0.8);
}
.buyunique-list-item3 div{
	background: rgba(202,48,48,0.8);
}
.buyunique-list-item4 div{
	background: rgba(69,146,99,0.8);
}
.buyunique-list-item5 div{
	background: rgba(218,91,64,0.8);
}
.buyunique-list-item6 div{
	background: rgba(79,135,177,0.8);
}
.buyunique-list-item7 div{
	background: rgba(213,187,9,0.8);
}
	/*buy unique info background color end*/
/*buy unique style end*/