.ticketcenter-box{
	margin-top: 30px;
	overflow: hidden;

	.ticketcenter-lgbox{
		width: 1250px;

		.ticketcenter-left{
			float: left;
			height: 215px;
			width: 191px;
			background-color: #ea3524;

			a{
				display: block;
				padding: 20px;
				width: 150px;
				height: 175px;
				
				*{
					color: #e7e7e7;
				}
				
				>i{
					display: block;
					height: 3px;
					width: 55px;
					margin: 20px 0;
					background-color: #e7e7e7;
				}

				p{
					font-size: 12px;
					margin-bottom: 20px;
				}

				span{
					display: block;
					height: 25px;
					line-height: 25px;
					padding-left: 20px;
					width: 125px;
					font-size: 12px;
					border: 2px solid #e7e7e7;
					position: relative;

					i{
						display: block;
						position: absolute;
						width: 20px;
						height: 20px;
						right: 20px;
						top: 3px;
						background: url(../img/seckill-title-icon.png) no-repeat -152px -39px;
					}
				}
			}
		}

		.ticketcenter-right{
			float: left;
			height: 195px;
			padding: 10px 0 10px 0;
			width: 1050px;
			background-color: #fff;

			li{
				float: left;
				width: 199px;
				height: 198px;
				border-right: 1px solid #e7e7e7;
				font-size: 12px;
				position: relative;
				
				a{
					display: block;
					width: 199px;
					height: 198px;
					img{
						position: absolute;
						right: 15px;
						top: 25px;
					}

					div{
						position: absolute;
						width: 100px;
						height: 180px;
						left: 15px;
						bottom: 0;
						background-color: #fff;
						border-top: 3px solid #ea3524;

						span{
							color: #ea3524;
							span{
								font-size: 35px;
								font-weight: bold;
							}
						}

						p:nth-child(2){
							color: #ea3524;
							margin: 5px;
							line-height: 15px;
							height: 30px;
							overflow: hidden;
						}

						p:nth-child(3){
							line-height: 15px;
							height: 30px;
							padding: 15px 10px;
							border-top: 4px dotted #fff;
							background-color: #eee;
						}

						p:nth-child(4){
							color: #e7e7e7;
							width: 100%;
							height: 26px;
							background-color: #ea3524;
							line-height: 26px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

.adsbelowticket{
	margin-top: 30px;
	background-color: #e0e0e0;

	img{
		float: left;
	}
}

.enjoyquality{
	margin-top: 30px;

	.enjoyquality-box{
		overflow: hidden;

		.enjoyquality-list{
			width: 1250px;
			margin-top: 15px;
			height: 350px;
			// background-color: #ccc;

			li{
				float: left;
				width: 390px;
				height: 170px;
				margin: 0 10px 10px 0;
				background-color: #fff;
				overflow: hidden;
				position: relative;

				div{
					position: absolute;
					width: 140px;
					height: 170px;
					left: 0;
					top: 0;
					text-align: center;

					*{
						color: #e7e7e7;
					}
					h3{
						display: inline-block;
						width: 100px;
						// color: #e7e7e7;
						margin: 40px 0 10px 0;
						padding: 5px 0;
						border-top: 2px solid #e7e7e7;
						border-bottom: 2px solid #e7e7e7;
					}
					p{
						display: inline-block;
						width: 100px;
						line-height: 16px;
						height: 32px;
						overflow: hidden;
						font-size: 14px;
						// color: #e7e7e7;
						text-align: left;
					}
				}		
			}

			.enjoyquality-list-item1 div{
				background: rgba(213, 135, 23, 0.8);
			}
			.enjoyquality-list-item2 div{
				background: rgba(73, 140, 148, 0.8);
			}
			.enjoyquality-list-item3 div{
				background: rgba(92, 85, 102, 0.8);
			}
			.enjoyquality-list-item4 div{
				background: rgba(176, 73, 66, 0.8);
			}
			.enjoyquality-list-item5 div{
				background: rgba(110, 53, 110, 0.8);
			}
			.enjoyquality-list-item6 div{
				background: rgba(134, 99, 80, 0.8);
			}
		}
	}

}
.common-title{
	height: 55px;
	line-height: 55px;
	text-align: center;
	i{
		display: inline-block;
		height: 0px;
		width: 500px;
		border-top: 4px dotted #ccc;
		vertical-align: middle;
	}
	h2{
		display: inline-block;
		width: 170px;
		text-align: center;
		color: #666;
	}
}

.adsbelowenjoy{
	background: #e0e0e0;
	margin-top: 20px;
	img{
		float: left;
	}
}

.lovelife{
	margin-top: 30px;
	.lovelife-box{
		overflow: hidden;

		.lovelife-list{
			width: 1250px;
			margin-top: 15px;
			>li{
				float: left;
				width: 590px;
				// height: 523px;
				margin-right: 10px;
				margin-bottom: 30px;
				background-color: #fff;
				overflow: hidden;

				.lovelife-list-title{
					width: 100%;
					height:58px;
					line-height: 58px;
					
					*{
						color: #e7e7e7;
					}
					h3{
						float: left;
						margin-left: 20px;
					}
					ul{
						display: inline-block;
						float: right;
						margin-right: 20px;
						li{
							float: left;
							margin-left: 10px;
							a{
								display: inline-block;
								padding: 0 10px;
								height: 26px;
								vertical-align: middle;
								text-align: center;
								line-height: 26px;
								font-size: 12px;
								border: 1px solid transparent;
								
							}
							a:hover{
								border: 1px solid #e7e7e7;
							}
						}
					}
				}

				.lovelife-list-content{
					width: 570px;
					height: 445px;
					margin: 10px;
					overflow: hidden;
					.lovelife-list-content-box{
						width: 600px;
						.lovelife-list-content-leimg{
							float: left;
							width: 183px;
							height: 260px;
							margin-right: 10px;
							overflow: hidden;
						}
						.lovelife-list-content-riimg{
							width: 400px;
							height: 260px;
							overflow: hidden;
							float: left;
							li{
								float: left;
								width: 188px;
								height: 130px;
								border-right: 1px solid #e7e7e7;
								border-bottom: 1px solid #e7e7e7;
								position: relative;
								a{
									display: block;
									width: 100%;
									height: 100%;
									img{
										position: absolute;
										right: 5px;
										bottom: 10px;
									}
									p:nth-child(1){
										position: absolute;
										font-size: 14px;
										color: #9e4075;
										left: 25px;
										top: 25px;
										width: 140px;
										z-index: 1;
									}
									p:nth-child(2){
										position: absolute;
										font-size: 12px;
										width: 50px;
										line-height: 15px;
										height: 45px;
										overflow: hidden;
										left: 25px;
										top: 55px;
									}
								}
							}
						}
						.lovelife-list-content-mdimg{
							width: 580px;
							li{
								float: left;
								margin-right: 10px;
								margin-top: 10px;
								a{
									display: inline-block;
									width: 183px;
									height: 130px;
									overflow: hidden;
								}
							}
						}
					}
				}
			}
			.lovelife-list-item1{
				.lovelife-list-title{
					background: linear-gradient(to right,#974676,#9e4075);	
					a{
						background-color: #ac6f93;
					}	
				}
			}
			.lovelife-list-item2{
				.lovelife-list-title{
					background: linear-gradient(to right,#cd375e,#c1314d);		
					a{
						background-color: #d36581;
					}
				}
				.lovelife-list-content{
					ul li a p:nth-child(1){
							color: #c1314d !important;
					}
				}
			}
			.lovelife-list-item3{
				.lovelife-list-title{
					background: linear-gradient(to right,#78538e,#674083);		
					a{
						background-color: #9379a5;
					}
				}
				.lovelife-list-content{
					ul li a p:nth-child(1){
							color: #674083 !important;
					}
				}
			}
			.lovelife-list-item4{
				.lovelife-list-title{
					background: linear-gradient(to right,#5e6c90,#4c5e8c);		
					a{
						background-color: #7f8ca8;
					}
				}
				.lovelife-list-content{
					ul li a p:nth-child(1){
							color: #4c5e8c !important;
					}
				}
			}
		}
	}
}