.header{
	height: 170px;
	position: relative;
}
.header-logo{
	position: absolute;
	float: left;
	width: 190px;
	height: 170px;
	background-color: #fff;
	box-shadow: 0 -10px 10px #ccc;
}
.header-shortcut{
	height: 30px;
	background-color: #e3e4e5;
	font-size: 12px;
}
.header-shortcut-loginlist{
	line-height: 30px;
	float: right;
}
.header-shortcut-loginlist li{
	display: inline-block;
	float: left;
	padding: 0 5px;
}
.header-searchbar{
	text-align: center;
	padding-top: 25px;
	position: relative;
	font-size: 12px;
}
.header-searchbar>div{
	display: inline-block;
}
.header-searchbar-search .search{
	width: 500px;
	height: 25px;/*在IE中不设置height会出问题！*/
	line-height: 25px;
	padding: 5px;
	border: none;
	float: left;
	vertical-align: middle;
}
.header-searchbar-search .searchbtn{
	width: 50px;
	height: 35px;
	border: none;
	float: left;
	cursor: pointer;
	background: #f10215 url(../img/header-search-btnimg.jpg) no-repeat center;
}
.header-searchbar-search{
	border: 1px solid #f10215;
	background-color: #fff;
}
.header-searchbar-cart{
	position: absolute;
	right: 0;
	width: 190px;
	line-height: 35px;
	border: 1px solid #ccc;
	background-color: #fff;
}
.header-hotword{
	text-align: center;
	font-size: 12px;
}
.header-hotword-list{
	display: inline-block;
	margin-top: 3px;
	width: 562px;
}
.header-hotword-list li{
	float: left;
	padding-right: 10px;
}
.header-nav{
	margin-top: 15px;
	text-align: center;
}
.header-nav-list{
	display: inline-block;
}
.header-nav-list li{
	float: left;
	padding: 0 12px;
}

.mainpage-class{
	float: left;
	width: 190px;
	height: 480px;
	color: #eee;
	background-color: #6c6669;
}
.mainpage-class *{
	font-size: 14px;
	color: #eee;
}
.mainpage-slideshow{
	float: left;
	width: 790px;
	height: 480px;
	margin-left: 10px;
}
.mainpage-quickentry{
	float: right;
	width: 190px;
	height: 480px;
	background-color: #fff;
}
.mainpage-class-list{
	margin-top: 15px;
}
.mainpage-class-list li{
	width: 180px;
	padding-left: 10px;
	line-height: 30px;
	font-size: 14px;
}
.mainpage-class-list li:hover{
	background-color: #999395;
}
.mainpage-slideshow-top{
	width: 790px;
	height: 340px;
	overflow: hidden;
	float: left;
}
.mainpage-slideshow-bottom{
	width: 790px;
	height: 130px;
	float: left;
	margin-top: 10px;
	background-color: #fff;
}
.mainpage-slideshow-bottom a:nth-child(2){
	float: right;
}
.mainpage-quickentry-welcome{
	width: 190px;
	height: 115px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}
.mainpage-quickentry-welcome-top img{
	width: 45px;
	height: 45px;
	border: 1px solid transparent;/*使IE中的border-radius也能生效*/
	border-radius: 100%;
	padding: 14px;
	float: left;
}
.mainpage-quickentry-welcome-top span{
	padding-top: 15px;
	padding-left: 5px;
	line-height: 22px;
	float: left;
}
.mainpage-quickentry-welcome-bottom a{
	margin-left: 13px;
	display: inline-block;
	float: left;
	width: 70px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 2px solid #f10215;
}
.mainpage-quickentry-welcome-bottom a:hover{
	background-color: #f10215;
	color: #fff;
}
.mainpage-quickentry-news{
	width: 160px;
	padding: 0 15px;
	height: 117px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}
.mainpage-quickentry-news-title{
	padding: 8px 0px 2px;
	margin-bottom: 2px;
	line-height: 16px;
	border-bottom: 1px solid #ccc;
}
.mainpage-quickentry-news-title ul{
	float: left;
}
.mainpage-quickentry-news-title ul li{
	float: left;
	padding: 0 15px 0px 15px;
}
.mainpage-quickentry-news-title ul li:nth-child(1){
	border-right: 1px solid #ccc;
	padding-left: 0;
}
.mainpage-quickentry-news-title .active{
	border-bottom: 3px solid #f10215;
}
.mainpage-quickentry-news-title a{
	float: right;
}
.mainpage-quickentry-news-content ul{
	padding: 12px 0;
	line-height: 20px;
}
.mainpage-quickentry-entry{
	width: 190px;
	height: 210px;
	font-size: 12px;
	overflow: hidden;
}
.mainpage-quickentry-mobile{
	width: 190px;
	height: 36px;
	color: #eee;
	font-size: 12px;
	line-height: 36px;
	text-align: center;
	background-color: #60575a;
}
.mainpage-quickentry-entry-list{
	width: 220px;
}
.mainpage-quickentry-entry-list li{
	float: left;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.mainpage-quickentry-entry-list li:hover{
	color: #f10215;
}
.mainpage-quickentry-entry-list li a{
	display: inline-block;
	width: 47px;
	height: 54px;
	padding-top: 15px;
}
.mainpage-quickentry-entry-list li span{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-bottom: 2px;
}
.mainpage-quickentry-entry-phone{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat 0 -88px;
}
.mainpage-quickentry-entry-plane{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat 0 -45px;
}
.mainpage-quickentry-entry-movie{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat -45px -45px;
}
.mainpage-quickentry-entry-game{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat -88px 0px;
}
.mainpage-quickentry-entry-corp{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat -88px -45px;
}
.mainpage-quickentry-entry-gas{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat 0 0;
}
.mainpage-quickentry-entry-hotel{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat -45px -88px;
}
.mainpage-quickentry-entry-train{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat -89px -88px;
}
.mainpage-quickentry-entry-crowd{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat -132px 0;
}
.mainpage-quickentry-entry-money{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat -132px -45px;
}
.mainpage-quickentry-entry-gift{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat -133px -88px;
}
.mainpage-quickentry-entry-blank{
	background: #fff url(../img/mainpage-quickentry-entry-sprite.png) no-repeat -44px 0;
}

.seckill{
	margin-top: 10px;
	margin-bottom: 30px;
}
.seckill-title{
	height: 55px;
	line-height: 52px;
	background: -webkit-linear-gradient(left, #e01222, #d00414);
	background: -o-linear-gradient(left, #e01222, #d00414);
	background: linear-gradient(to right, #e01222, #d00414);
	position: relative;
	vertical-align: middle;
}
.seckill-title-left{
	display: inline-block;
	margin-left: 30px;
	line-height: 35px;
	height: 35px;
	vertical-align: middle;
}
.seckill-title-left span{
	/*width: 230px;*/
	/*margin-top: 12px;*/
	/*line-height: 20px;*/
	font-size: 13px;
}
.seckill-title-left span a:hover{
	color: #eee;
}
.seckill-title-left *{
	float: left;
	margin-right: 20px;
}
.seckill-title-left-icon{
	display: inline-block;
	height: 35px;
	width: 35px;
	background: url(../img/seckill-title-icon.png) no-repeat 0 -40px;
}
.seckill-title-left-arrow{
	display: inline-block;
	float: right;
	margin-top: 9px;
	width: 20px;
	height: 20px;
	background: url(../img/seckill-title-icon.png) no-repeat -152px -39px;
}
.seckill-title-right{
	display: inline-block;
	position: relative;
	float: right;
	height: 55px;
	line-height: 52px;
	font-size: 13px;
	margin-right: 20px;
	vertical-align: middle;
}
.seckill-title-right-time{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #440106;
	border: 1px solid transparent;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	line-height: 32px;
	font-size: 2em;

}
.seckill-title-right-break{
	display: inline-block;
	width: 5px;
	height: 35px;
	line-height: 27px;
	vertical-align: middle;
	font-size: 2em;
}
.seckill-content{
	width: 1190px;
	overflow: hidden;
}
.seckill-content-list{
	width: 1220px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	font-size: 12px;
}
.seckill-content-list li{
	float: left;
	position: relative;
	width: 170px;
	padding: 0 10px;
	margin-right: 10px;
	height: 225px;
	border-right: 1px solid #e7e7e7;
	text-align: left;
}
.seckill-content-list img{
	display: block;
	margin: 0 auto 10px;
}
.seckill-content-list li a p{
	line-height: 1.3em;
	height: 2.6em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.seckill-content-list li:nth-last-child(1){
	width: 190px;
	margin-left: -10px;
	background-color: #e7e7e7;
	padding: 0;
}
.findbrandrank-box{
	width: 1190px;
	overflow: hidden;
}
.findbrandrank-list{
	width: 1220px;
}
.findbrandrank-list >li{
	position: relative;
	float: left;
	width: 390px;
	margin-right: 10px;
	/*height: 444px;*/
	background-color: #fff;
}

.findbrandrank-list-commontitle{
	height: 55px;
	line-height: 55px;
	padding-left: 30px;
	padding-right: 30px;
}
.findbrandrank-list-find-title{

	background: -webkit-linear-gradient(left, #4998a1, #2e828b);
	background: -o-linear-gradient(left, #4998a1, #2e828b);
	background: linear-gradient(to right, #4998a1, #2e828b);
}
.findbrandrank-list-brand-title{
	background: -webkit-linear-gradient(left, #7d2e5c, #6f184a);
	background: -o-linear-gradient(left, #7d2e5c, #6f184a);
	background: linear-gradient(to right, #7d2e5c, #6f184a);
}
.findbrandrank-list-rank-title{
	background: -webkit-linear-gradient(left, #e77005, #e45d04);
	background: -o-linear-gradient(left, #e77005, #e45d04);
	background: linear-gradient(to right, #e77005, #e45d04);
}
.findbrandrank-list-commontitle h2{
	float: left;
}
.findbrandrank-list-commontitle span{
	float: right;
	font-size: 13px;
}
.findbrandrank-list-commonarrow{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(../img/seckill-title-icon.png) no-repeat -152px -39px;
}
.findbrandrank-list-commoncontent{
	width: 370px;
	height: 362px;
	margin: 10px auto;
	/*background-color: #ccc;*/
	overflow: hidden;
}
.findbrandrank-list-find-content-list{
	width: 380px;
}
.findbrandrank-list-find-content-list li{
	float: left;
	width: 185px;
	height: 120px;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.findbrandrank-list-find-content-list li a{
	position: relative;
	display: inline-block;
	width: 185px;
	height: 120px;
}
.findbrandrank-list-find-content-list img{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.findbrandrank-list-find-content-list span{
	display: inline-block;
	width: 80px;
	height: 40px;
	color: #2e828b;
	font-size: 14px;
	line-height: 20px;
	margin: 15px;
}
.findbrandrank-list-brand-content-list{
	width: 380px;
}
.findbrandrank-list-brand-content-list li{
	float: left;
	height: 187px;
	width: 145px;
	padding: 20px;
	margin-bottom: 5px;
	border-right: 1px solid #e7e7e7;
}
.findbrandrank-list-brand-content-list li img{
	display: block;
	margin: 0 auto;
}
.findbrandrank-list-brand-content-list li i{
	display: block;
	width: 20px;
	height: 3px;
	margin: 20px 0 5px;
	background-color: #6f184a;
}
.findbrandrank-list-brand-content-list li h4{
	color: #6f184a;
}
.findbrandrank-list-brand-content-list li p{
	font-size: 12px;
	line-height: 20px;
}